/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    font-family: 'Roboto', sans-serif !important;
}

.color-1 {
    background-color: #9B8816 !important;
}

button.color-1:focus {
    box-shadow: 0 0 0 1px #F9EA9A;
}

.color-2 {
    background-color: #F98948 !important;
}

button.color-2:focus {
    box-shadow: 0 0 0 1px #F9EA9A;
}

.color-3 {
    background-color: #5D3A00 !important;
}

.color-4 {
    background-color: #684E32 !important;
}

.border-4 {
    border: #684E32 solid 1px !important;
}

.color-5 {
    background-color: #F9EA9A !important;
}