<div class="row color-3">
  <div class="col-1 offset-1" [ngStyle]="{visibility: banderaCarrito ? 'visible' : 'hidden'}">
    <!--Este es el boton de vaciar carrito -->
    <button class="btn btn-lg color-2 text-white nav-button" data-tooltip="tooltip" data-bs-placement="right"
      data-bs-title="Vaciar carrito" (click)="limpiarCarrito()">
      <i class=" bi bi-cart-x"></i>
    </button>
  </div>
  <div class="col-1 offset-6 offset-md-8" [ngStyle]="{visibility: banderaCarrito ? 'visible' : 'hidden'}">
    <!--Este es el boton de ver carrito -->
    <button class="btn color-1 btn-lg position-relative text-white nav-button" data-bs-toggle="modal"
      data-bs-target="#carritoModal" data-tooltip="tooltip" data-bs-placement="left" data-bs-title="Ver carrito">
      <i class=" bi bi-cart"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{getTotalProductoEnPedido()}}
      </span>
    </button>
  </div>
  <br />
</div>

<!--Esta es la lista de objetos -->
<div class="container">
  <br />
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12" style="margin-bottom: 5px;" *ngFor="let item of bdService.productos">
      <div class="card h-100 border-4 color-5">
        <img src='{{"assets/img/"+item.getNombre()+".jpg"}}' class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{item.getNombre()+" - $"+item.getPrecio()}}</h5>
          <p class="card-text">{{item.getDescripcion()}}</p>
        </div>
        <div class="card-footer color-4">
          <button class="btn btn-lg color-1 text-white" data-tooltip="tooltip" data-bs-placement="right"
            data-bs-title="Agregar al carrito" (click)="agregarACarrito(item)"><i class="bi bi-cart-plus"></i></button>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>

<!--Este es el form de carrito de compras -->
<div class="modal fade" id="carritoModal" tabindex="-1" aria-labelledby="carritoModalLabel" aria-hidden="true">
  <div class="modal-dialog border-4">
    <div class="modal-content color-5">
      <div class="modal-header color-3">
        <h5 class="modal-title text-white" id="carritoModalLabel">Carrito de Compras</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <table class="table border-4" *ngIf="carritoService.detalles.length !== 0">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Precio Unitario</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalle of carritoService.detalles">
                  <td>{{detalle.getProducto().getNombre()}}</td>
                  <td>{{"$"+detalle.getProducto().getPrecio()}}</td>
                  <td>{{detalle.getCantidad()}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-end"> TOTAL = ${{getTotalCarrito()}}</p>
          </div>
        </div>
        <hr />
        <form name="FormRegistro" [formGroup]='FormRegistro'>
          <fieldset>
            <!--campo Calle-->
            <div class="row">

              <div class="col-sm-12 col-md-4 offset-md-1">
                <label class="col-form-label" for="Calle">Calle<span class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="Calle" name="Calle" class="form-control" formControlName="Calle" [ngClass]="{'is-invalid': (FormRegistro.controls['Calle'].touched || submitted)  
                    && FormRegistro.controls['Calle'].errors}" />

                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Calle'].touched || submitted) 
                                && FormRegistro.controls['Calle'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger"
                    *ngIf="(FormRegistro.controls['Calle'].touched || submitted) 
                               && (FormRegistro.controls['Calle'].hasError('minlength') || FormRegistro.controls['Calle'].hasError('maxlength')) ">
                    Dato texto, 4 a 55 caracteres.
                  </div>
                </div>
              </div>

            </div>

            <!-- campo Numero -->
            <div class="row">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="Numero">Número<span class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="Numero" name="Numero" class="form-control" (input)="soloInteger($event)"
                    formControlName="Numero" [ngClass]="{'is-invalid': (FormRegistro.controls['Numero'].touched || submitted)  
                    && FormRegistro.controls['Numero'].errors}" />
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Numero'].touched || submitted) 
                               && FormRegistro.controls['Numero'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Numero'].touched || submitted) 
                       && FormRegistro.controls['Numero'].hasError('pattern')">
                    Dato numérico, 1 a 4 dígitos.
                  </div>
                </div>
              </div>
            </div>

            <!--campo Ciudad-->
            <div class="row">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="Ciudad">
                  Ciudad<span class="text-danger">*</span>:
                </label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <select id="Ciudad" name="Ciudad" class="form-select" formControlName="Ciudad" [ngClass]="{'is-invalid': (FormRegistro.controls['Ciudad'].touched || submitted)  
                    && FormRegistro.controls['Ciudad'].errors}">
                    <option *ngFor="let ciudad of ciudades" value={{ciudad}}>{{ciudad}}</option>
                  </select>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Ciudad'].touched || submitted) 
                                && FormRegistro.controls['Ciudad'].hasError('required')">
                    Dato requerido.
                  </div>
                </div>
              </div>
            </div>

            <!--campo Referencia-->
            <div class="row">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="Referencia">Referencia:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="Referencia" name="Referencia" class="form-control" formControlName="Referencia"
                    [ngClass]="{'is-invalid': (FormRegistro.controls['Referencia'].touched || submitted)  
                    && FormRegistro.controls['Referencia'].errors}" />

                  <div class="validacion text-danger"
                    *ngIf="(FormRegistro.controls['Referencia'].touched || submitted) 
                               && (FormRegistro.controls['Referencia'].hasError('minlength') || FormRegistro.controls['Referencia'].hasError('maxlength')) ">
                    Dato texto, 4 a 55 caracteres.
                  </div>

                </div>
              </div>
            </div>

            <!--campo FormaPago-->
            <div class="row">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="FormaPago">
                  Forma de Pago<span class="text-danger">*</span>:
                </label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <select id="FormaPago" name="FormaPago" class="form-select" formControlName="FormaPago"
                    (change)="setFormaPago($event)" [ngClass]="{'is-invalid': (FormRegistro.controls['FormaPago'].touched || submitted)  
                    && FormRegistro.controls['FormaPago'].errors}">
                    <option *ngFor="let FormaPago of formasDePago" value={{FormaPago}}>{{FormaPago}}</option>
                  </select>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['FormaPago'].touched || submitted) 
                                && FormRegistro.controls['FormaPago'].hasError('required')">
                    Dato requerido.
                  </div>
                </div>
              </div>
            </div>
            <!--campo Monto -->
            <div class="row" *ngIf="formaPagoSeleccionada === 'Efectivo'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="Monto">¿Con cuánto pagas?<span class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="number" id="Monto" name="Monto" class="form-control" formControlName="Monto" [ngClass]="{'is-invalid': (FormRegistro.controls['Monto'].touched || submitted)  
                    && FormRegistro.controls['Monto'].errors}" />
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Monto'].touched || submitted) 
                               && FormRegistro.controls['Monto'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Monto'].touched || submitted) 
                       && FormRegistro.controls['Monto'].hasError('min')">
                    Monto insuficiente
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['Monto'].touched || submitted) 
                       && FormRegistro.controls['Monto'].hasError('max')">
                    Monto alto
                  </div>
                </div>
              </div>
            </div>
            <!-- campo NumTarjeta -->
            <div class="row" *ngIf="formaPagoSeleccionada === 'Tarjeta de Débito/Crédito'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="NumTarjeta">Número tarjeta<span class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="NumTarjeta" name="NumTarjeta" class="form-control"
                    (input)="soloInteger($event)" formControlName="NumTarjeta" [ngClass]="{'is-invalid': (FormRegistro.controls['NumTarjeta'].touched || submitted)  
                    && FormRegistro.controls['NumTarjeta'].errors}" />
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['NumTarjeta'].touched || submitted) 
                               && FormRegistro.controls['NumTarjeta'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['NumTarjeta'].touched || submitted) 
                       && FormRegistro.controls['NumTarjeta'].hasError('pattern')">
                    Dato numérico, 12 a 19 dígitos.
                  </div>
                  <!-- <div class="validacion text-danger" *ngIf="(FormRegistro.controls['NumTarjeta'].touched || submitted) 
                       && FormRegistro.controls['NumTarjeta'].hasError('invalidCard')">
                    Sólo Mastercard
                  </div> -->
                </div>
              </div>
            </div>
            <!--campo NombreApellido-->
            <div class="row" *ngIf="formaPagoSeleccionada === 'Tarjeta de Débito/Crédito'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="NombreApellido">Nombre y apellido del titular<span
                    class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="NombreApellido" name="NombreApellido" class="form-control"
                    formControlName="NombreApellido" [ngClass]="{'is-invalid': (FormRegistro.controls['NombreApellido'].touched || submitted)  
                    && FormRegistro.controls['NombreApellido'].errors}" />

                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['NombreApellido'].touched || submitted) 
                                && FormRegistro.controls['NombreApellido'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger"
                    *ngIf="(FormRegistro.controls['NombreApellido'].touched || submitted) 
                               && (FormRegistro.controls['NombreApellido'].hasError('minlength') || FormRegistro.controls['NombreApellido'].hasError('maxlength')) ">
                    Dato texto, 4 a 55 caracteres.
                  </div>

                </div>
              </div>
            </div>
            <!--campo FechaVencimiento-->
            <div class="row" *ngIf="formaPagoSeleccionada === 'Tarjeta de Débito/Crédito'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="MesVencimiento">Fecha de Vencimiento<span
                    class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <div class="row">
                    <div class="col-5" style=" padding-right: 0px;">
                      <select id="MesVencimiento" name="MesVencimiento" class="form-select"
                        formControlName="MesVencimiento" [ngClass]="{'is-invalid': (FormRegistro.controls['MesVencimiento'].touched || submitted)  
                    && (FormRegistro.controls['MesVencimiento'].errors)}">
                        <option *ngFor="let mes of meses" value={{mes}}>{{mes}}</option>
                      </select>
                      <div class="validacion text-danger" *ngIf="(FormRegistro.controls['MesVencimiento'].touched || submitted)
                                && (FormRegistro.controls['MesVencimiento'].hasError('required'))">
                        Dato requerido.
                      </div>
                    </div>
                    <div class="col-1">
                      <div class="row">
                        <div class="col-1">
                          <h5>/</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-5" style=" padding-right: 0px;padding-left: 0px; ">
                      <select id="YearVencimiento" name="YearVencimiento" class="form-select"
                        formControlName="YearVencimiento" [ngClass]="{'is-invalid': (FormRegistro.controls['YearVencimiento'].touched || submitted)  
                  && (FormRegistro.controls['YearVencimiento'].errors)}">
                        <option *ngFor="let a of years" value={{a}}>{{a}}</option>
                      </select>
                      <div class="validacion text-danger" *ngIf="(FormRegistro.controls['YearVencimiento'].touched || submitted)
                                && (FormRegistro.controls['YearVencimiento'].hasError('required'))">
                        Dato requerido.
                      </div>
                    </div>
                    <div class="validacion text-danger"
                      *ngIf="((FormRegistro.controls['MesVencimiento'].touched || submitted) || (FormRegistro.controls['YearVencimiento'].touched || submitted))
                  && ((FormRegistro.controls['MesVencimiento'].hasError('invalidDate')) || (FormRegistro.controls['YearVencimiento'].hasError('invalidDate')))">
                      Fecha Mínima: Mes Actual / Año Actual
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- campo CVC -->
            <div class="row" *ngIf="formaPagoSeleccionada === 'Tarjeta de Débito/Crédito'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="CVC">CVC<span class="text-danger">*</span>:</label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="text" id="CVC" name="CVC" class="form-control" (input)="soloInteger($event)"
                    formControlName="CVC" [ngClass]="{'is-invalid': (FormRegistro.controls['CVC'].touched || submitted)  
                    && FormRegistro.controls['CVC'].errors}" />
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['CVC'].touched || submitted) 
                               && FormRegistro.controls['CVC'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['CVC'].touched || submitted) 
                       && FormRegistro.controls['CVC'].hasError('pattern')">
                    Dato numérico, 3 a 4 dígitos.
                  </div>
                </div>
              </div>
            </div>
            <!--campo MomentoRecepcion-->
            <div class="row">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="MomentoRecepcion">
                  Recepción<span class="text-danger">*</span>:
                </label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <select id="MomentoRecepcion" name="MomentoRecepcion" class="form-select"
                    (change)="setMomentoRecepcion($event)" formControlName="MomentoRecepcion" [ngClass]="{'is-invalid': (FormRegistro.controls['MomentoRecepcion'].touched || submitted)  
                    && FormRegistro.controls['MomentoRecepcion'].errors}">
                    <option *ngFor="let momento of momentosRecepcion" value={{momento}}>
                      {{momento}}</option>
                  </select>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['MomentoRecepcion'].touched || submitted) 
                                && FormRegistro.controls['MomentoRecepcion'].hasError('required')">
                    Dato requerido.
                  </div>
                </div>
              </div>
            </div>

            <!--CAMPO FECHA EN CASO DE QUE ELIJA-->
            <div class="row" *ngIf="momentoRecepcionSeleccionado == 'En otro momento'">
              <div class="col-sm-4 col-md-4 offset-md-1">
                <label class="col-form-label" for="FechaRecepcion">Fecha/Hora Recepción<span
                    class="text-danger">*</span>:
                </label>
              </div>
              <div class="col-sm-8 col-md-6">
                <div class="mb-3">
                  <input type="datetime-local" class="form-control" [min]="minFechaRecepcion" [max]="maxFechaRecepcion"
                    formControlName="FechaRecepcion" id="FechaRecepcion" name="FechaRecepcion" [ngClass]="{'is-invalid': (FormRegistro.controls['FechaRecepcion'].touched || submitted)  
                  && FormRegistro.controls['FechaRecepcion'].errors}" />

                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['FechaRecepcion'].touched || submitted) 
                             && FormRegistro.controls['FechaRecepcion'].hasError('required')">
                    Dato requerido.
                  </div>
                  <div class="validacion text-danger" *ngIf="(FormRegistro.controls['FechaRecepcion'].touched || submitted) 
                             && FormRegistro.controls['FechaRecepcion'].hasError('invalidDate')">
                    Fecha fuera de rango.
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div *ngIf="submitted && FormRegistro.invalid" class="alert color-2" role="alert">
        <i class="fa fa-exclamation-sign"></i>Debe ingresar todos los datos y con su formato adecuado.
      </div>
      <div class="modal-footer color-4">
        <button type="button" class="btn color-2 text-white" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn color-1 text-white" (click)="confirmarPedido()">Confirmar
          Pedido</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exitoModal" tabindex="-1" aria-labelledby="exitoLabel" aria-hidden="true">
  <div class="modal-dialog border-4">
    <div class="modal-content color-5">
      <div class="modal-header color-3">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4 class="text-center text-success ">Pedido enviado <i class="bi bi-check-circle"></i></h4>
      </div>
      <div class="modal-footer color-4">
        <button type="button" class="btn color-1 text-white " data-bs-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>